/*-------------------
Header
--------------------- */
.header-container {
	max-width: 1450px;
}

.navbar {
	background-color: #F6F6F7;
	padding: 0;
}

.navbar .nav-item .nav-link {
	color: #888888;
	font-size: 13px;
}

.navbar .nav-item .nav-link:hover{
	color: #888888;
}

.navbar .nav-item ul {
	width: 300px;
}

.navbar .nav-item ul li {
	padding: 0.5rem 0.5rem;
}

.navbar .nav-item ul li img {
	height: 120px;
}

.navbar .nav-item .cart-title {
	font-size: 15px;
	margin-bottom: 5px;
	color: #222222;
	font-weight: 400;
}

.navbar .nav-item .cart-qty {
	font-size: 13px;
    margin-bottom: 15px;
    color: #222222;
    font-weight: 500;
}

.navbar .nav-item .cart-size {
	font-size: 14px;
    margin-bottom: 5px;
    color: #222222;
    font-weight: 400;
}

/*-------------------
Product Section 
--------------------- */
.product-section {
	padding: 2rem;
}

.product-section .prod-image {
	float: right;
	margin-right: 60px;
}

.product-section .prod-image img {
	width: 400px;
}

.product-section .prod-body {
	padding: 0 3rem;
}

.product-section .prod-body .prod-title {
	color: #222222;
	margin-bottom: 30px;
}

.product-section .prod-body .prod-price {
	color: #222222;
	font-weight: 700;
	border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding: 10px 0;
}

.product-section .prod-body .prod-desc {
	color: #888888;
    font-size: 14px;
}

.product-section .prod-body .prod-size-label {
	font-weight: 700;
    font-size: 12px;
    color: #888888;
}

.product-section .prod-body .prod-size-label span {
	color: #C90000;
}

.product-section .prod-body .prod-size-label b {
	color: #222222;
}

.product-section .prod-body .prod-size-choose {
	margin-top: 10px;
}

.product-section .prod-body .prod-size-choose .prod-item {
	display: inline-block;
	margin-right: 5px;
}

.product-section .prod-body .prod-size-choose .prod-item:last-child {
	margin-right: 0;
}

.product-section .prod-body .prod-size-choose .prod-item input {
	position: absolute;
	visibility: hidden;
}

.product-section .prod-body .prod-size-choose .prod-item label {
	font-size: 12px;
    color: #888888;
    font-weight: 600;
    height: 45px;
    width: 45px;
    border: 2px solid #cccccc;
    text-align: center;
    line-height: 45px;
    text-transform: uppercase;
    cursor: pointer;
}

.product-section .prod-body .prod-size-choose .prod-item label.active {
	background: #fff;
	color: #222222;
	border: 3px solid #222222;
}

.product-section .prod-body .prod-button {
	margin-top: 20px;
}

.product-section .prod-body .prod-button button {
	font-size: 14px;
	font-weight: 700;
	padding: 10px 20px;
	width: 150px;
	color: #222222;
	border: 3px solid #222222;
	background-color: #fff;
}

.product-section .prod-body .prod-button button:hover {
	background-color: #222222;
	color: #fff;
}

/*-------------------
Media Query 
--------------------- */
@media (min-width: 320px) and (max-width: 480px) {
	.product-section {
	    padding: 0;
	    margin-top: 20px;
	}

	.product-section .prod-image {
		margin-right: 0;
	}

	.product-section .prod-image img {
		width: 100%;
	}

	.product-section .prod-body {
		padding: 0;
		margin-top: 20px;
    	margin-bottom: 30px;
	}
}